<%- include('../partials/header'); %>

<main>
  <ol>
    <%- include('../partials/columns', {header: 'To do', className: "todo", tasks: ["Take out washing", "Make dinner", "Do homework", "Learn CSS"]}) %>
    <%- include('../partials/columns', {header: 'Doing', className: "doing", tasks: ["Go to the gym", "Watch an episode of The Apprentice", "Coding"]}) %>
    <%- include('../partials/columns', {header: 'Done', className: "done", tasks: ["Read React for Dummies", "Cure world hunger"]}) %>
  </ol>
</main>

<%- include('../partials/footer'); %>
